h1 {
    text-align:center;
    background-color: rgb(167, 11, 11);
}
h3{
    background-color: rgb(150, 25, 143);
}

p {
    text-align: center;
    font-size: medium;
}

strong {
    font-size: medium;
}

body {
    background-color: rgb(100, 26, 168);
}

.lista {
    display: inline-block;
    padding: 10%;
    margin-right: 10%;
}