nav a{
    text-transform: uppercase;
    color: rgb(82, 25, 187);
    font-weight: 300;
    font-size: 100%;
    text-decoration: none ;
}

.imagem1 {
  width: 20%
}

.centralizar {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border-color: rgb(10, 59, 124);
    border-width: 30px;
    border-style: solid;
}

body {
  background-color: rgb(60, 168, 240);
  text-align:center;
}

.lista li{
  display: inline-block;
  vertical-align: top;
  background-color: #1f2063;
  margin: o 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-width: 20px;
  border-color: rgb(5, 63, 110);
  border-style: solid;
  
}